@import "tailwindcss";

/* index.css */

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}


body {
  min-height: 100vh;         /* ensures full viewport height */
  margin: 0;                 /* removes default body margin */
  font-family: var(--font-opensans);   /* optional: makes text look cleaner */
}
.font-poppins {
  font-family: var(--font-poppins);
}
.bg {
  width: 100%;
  height: 100%;
  background-image: url('./assets/hospital.jpg');
  background-size: cover;
  background-position: center;
  
}
a.active hr{
    display: block;
}