@import "tailwindcss";

/* index.css */

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-opensans);
}

.font-poppins {
  font-family: var(--font-poppins);
}

a.active hr {
  display: block;
}

