@import "tailwindcss";

/* index.css */

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-opensans);
}

.font-poppins {
  font-family: var(--font-poppins);
}

a.active hr {
  display: block;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
